/*
* @Author: Administrator
* @Date:   2017-03-23 15:34:25
* @Last Modified by:   Administrator
* @Last Modified time: 2017-03-24 09:40:40
*/

* {
	margin: 0;
	padding: 0;
}
body{
	height: 2000px;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
}


/* 头 开始 */

.header {
	height: 62px;
	border-bottom: 1px solid #e1e1e1;
}

.header-in {
	width: 980px;
	height: 62px;
	margin: 0 auto;
	/* 让块级盒子居中对齐 */
}

.logo {
	width: 179px;
	height: 25px;
	float: left;
	margin-top: 20px;
	background: url(images/logo.png) no-repeat;
}

.search {
	margin-top: 20px;
	width: 199px;
	height: 31px;
	float: right;
}

.search input {
	width: 158px;
	height: 31px;
	border: 0;
	/*  边框清0 */
	background: url(images/input.png) no-repeat;
	outline: none;
	/* 取消蓝色边框 */
	color: #979797;
	padding-left: 8px;
	float: left;
}

.search button {
	width: 33px;
	height: 31px;
	background: url(images/button.png) no-repeat;
	border: 0;
	outline: none;
	float: left;
}


/* 头 结束 */


/* 导航开始 */

.nav {
	height: 55px;
	background: url(images/nav-bg.png) repeat-x;
}

.nav-in {
	width: 980px;
	height: 55px;
	margin: 0 auto;
}

.nav-in ul li {
	width: 130px;
	height: 55px;
	text-align: center;
	/* 文字水平居中 */
	line-height: 55px;
	float: left;
	background: url(images/nav-line.png) no-repeat right;
	/* 小背景右侧对齐 */
}

.nav-in a {
	font: 700 14px "微软雅黑";
	color: #00004b;
	text-decoration: none;
	/*  取消下划线 */
}

.nav-in a:hover {
	color: #91BB35;
}


/* 导航结束 */

 /*  banner部分 */
     .banner {
        width: 980px;
        margin: 0 auto;
     }
     /* 公告模块部分 */
     .notice {
        height: 29px;
        background-color: #fbfbfb;
        border-top: 1px solid #EFEFEF;
        border-bottom: 1px solid #EFEFEF;
     }
     .notice-in {
        width: 980px;
        height: 29px;
        margin: 0 auto;
        line-height: 29px;
     }
     .notice-in p {
        float: left;
        font-size: 12px;
     }
     .notice-in p a {
        color: #000;
        text-decoration: none;
     }
      .notice-in p a:hover {
        color: #91BB35;
         text-decoration: underline;
      }
     .notice-in span {
        float: right;
        margin-top: 5px;
     }
    /* 公告栏结束 */

    /* 主体部分开始 */
	.main{
		width: 980px;
		height: 228px;
		margin: 0 auto;
		background-color: #yellow;
		margin-top: 10px;
	}
	.product{
		float: left;
		height: 228px;
		width: 308px;
		border:1px solid #ccc;
	}

	.news{
		float: left;
		height: 228px;
		width: 308px;
		border:1px solid #ccc;
		margin-left: 25px;
	}
	.net{
		float: right;
		width: 308px;
		height: 228px;
		border:1px solid #ccc;
	}